@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Libre Baskerville', system-ui, serif;
	}
}

@layer components {
	.heading-display {
		font-size: 12.5rem;
		line-height: 0.75;
		font-weight: bold;
		color: theme('colors.gray.100');
	}

	.heading-1 {
		font-size: 3.5rem;
		line-height: calc(8 / 7);
		font-weight: bold;
		color: theme('colors.black');
	}

	.heading-2 {
		font-size: 1.5rem;
		line-height: calc(29 / 24);
		font-weight: bold;
		color: theme('colors.black');
	}

	.heading-3 {
		font-size: 1.125rem;
		line-height: calc(11 / 9);
		font-weight: bold;
		color: theme('colors.black');
	}

	.subhead-1 {
		font-size: 0.9375rem;
		line-height: calc(19 / 15);
		font-weight: 400;
		color: theme('colors.black');
	}

	.subhead-2 {
		font-size: 0.8125rem;
		line-height: calc(17 / 13);
		font-weight: 400;
		color: theme('colors.black');
	}

	.link-1 {
		font-size: 0.75rem;
		line-height: 1.25;
		font-weight: bold;
		color: theme('colors.gray.300');
		letter-spacing: 2.5px;
	}

	.link-1:hover {
		color: theme('colors.black');
	}

	.link-2 {
		font-size: 0.5625rem;
		line-height: calc(11 / 9);
		font-weight: bold;
		color: theme('colors.gray.300');
		letter-spacing: 2px;
		text-decoration: underline;
	}

	.link-2:hover {
		color: theme('colors.black');
	}

	.body {
		font-size: 0.875rem;
		line-height: 2;
		font-weight: bold;
		color: theme('colors.gray.300');
	}
}
