.App {
    display: grid;
    gap: 1rem;
    max-width: 730px;
    margin: 0 auto;
}

@media screen and (min-width: 730px) {
    .App {
        padding: 64px 0;
        gap: 1.25rem;
    }
}

.comment {
    display: grid;
    gap: 1rem;
}

.comment__replies {
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--light-gray);
}

@media screen and (min-width: 1024px) {
    .comment__replies {
        gap: 1.5rem;
        margin-left: 43px;
        padding-left: 43px;
        border-left: 2px solid var(--light-gray);
    }
}

.add-comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textarea textarea"
                         "image    submit";
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 1024px) {
    .add-comment {
        grid-template-columns: min-content 1fr min-content;
        grid-template-areas: "image textarea submit";
        align-items: flex-start;
        padding: 1.5rem;
    }
}

.add-comment__image {
    grid-area: image;
    width: 32px;
}

@media screen and (min-width: 730px) {
    .add-comment__image {
        width: 40px;
        margin-top: 4px;
    }
}

.add-comment__label {
    grid-area: textarea;
    width: 100%;
}

.add-comment__send {
    grid-area: submit;
    justify-self: end;

}

.add-comment__send:hover:not(:disabled) {
    opacity: 0.8;
}

.add-comment__send:disabled {
    background-color: var(--light-grayish-blue);
    cursor: not-allowed;
}